In [1]:
%run setup.ipynb

In [5]:
df_h12 = pd.read_csv(here() / 'tables/locus_peaks_h12.csv')
df_h12['method'] = 'h12'
df_h12

    locus         pop  peak_value  peak_pos method
0   Gste2      bf_gam    0.378958    -2.928    h12
1   Gste2      gn_gam    0.324688   -79.232    h12
2   Gste2      gh_gam         NaN       NaN    h12
3   Gste2  cm_sav_gam    0.401638   -10.877    h12
4   Gste2      ug_gam    0.312500    -5.205    h12
..    ...         ...         ...       ...    ...
85   Ace1      gh_col         NaN       NaN    h12
86   Ace1      ao_col         NaN       NaN    h12
87   Ace1          gw         NaN       NaN    h12
88   Ace1          gm         NaN       NaN    h12
89   Ace1          ke         NaN       NaN    h12

[90 rows x 5 columns]

In [6]:
df_ihs = pd.read_csv(here() / 'tables/locus_peaks_ihs.csv')
df_ihs['method'] = 'ihs'
df_ihs

    locus         pop  peak_value   peak_pos method
0   Gste2      bf_gam    9.332232 -257.58610    ihs
1   Gste2      gn_gam    8.752685 -144.41400    ihs
2   Gste2      gh_gam    5.418820  -27.13314    ihs
3   Gste2  cm_sav_gam    8.995221 -259.64322    ihs
4   Gste2      ug_gam    7.231017    2.74352    ihs
..    ...         ...         ...        ...    ...
85   Ace1      gh_col         NaN        NaN    ihs
86   Ace1      ao_col         NaN        NaN    ihs
87   Ace1          gw         NaN        NaN    ihs
88   Ace1          gm         NaN        NaN    ihs
89   Ace1          ke         NaN        NaN    ihs

[90 rows x 5 columns]

In [7]:
df_xpehh = pd.read_csv(here() / 'tables/locus_peaks_xpehh.csv')
df_xpehh['method'] = 'xpehh'
df_xpehh

    locus         pop  peak_value   peak_pos method
0   Gste2      bf_gam    5.327111   6.838195  xpehh
1   Gste2      gn_gam    4.723271 -93.767240  xpehh
2   Gste2      gh_gam         NaN        NaN  xpehh
3   Gste2  cm_sav_gam    5.951453   4.483170  xpehh
4   Gste2      ug_gam    4.909270   5.661470  xpehh
..    ...         ...         ...        ...    ...
85   Ace1      gh_col         NaN        NaN  xpehh
86   Ace1      ao_col         NaN        NaN  xpehh
87   Ace1          gw         NaN        NaN  xpehh
88   Ace1          gm         NaN        NaN  xpehh
89   Ace1          ke         NaN        NaN  xpehh

[90 rows x 5 columns]

In [8]:
df_pbs = pd.read_csv(here() / 'tables/locus_peaks_pbs.csv')
df_pbs['method'] = 'pbs'
df_pbs

    locus         pop  peak_value  peak_pos method
0   Gste2      bf_gam   37.465458  234.2830    pbs
1   Gste2      gn_gam   31.670479  231.9900    pbs
2   Gste2      gh_gam   19.713850  231.1275    pbs
3   Gste2  cm_sav_gam   35.649120  233.0470    pbs
4   Gste2      ug_gam   24.089450   34.7640    pbs
..    ...         ...         ...       ...    ...
85   Ace1      gh_col         NaN       NaN    pbs
86   Ace1      ao_col         NaN       NaN    pbs
87   Ace1          gw         NaN       NaN    pbs
88   Ace1          gm         NaN       NaN    pbs
89   Ace1          ke         NaN       NaN    pbs

[90 rows x 5 columns]

In [9]:
df_all = pd.concat([df_h12, df_ihs, df_xpehh, df_pbs])
df_all

    locus         pop  peak_value  peak_pos method
0   Gste2      bf_gam    0.378958    -2.928    h12
1   Gste2      gn_gam    0.324688   -79.232    h12
2   Gste2      gh_gam         NaN       NaN    h12
3   Gste2  cm_sav_gam    0.401638   -10.877    h12
4   Gste2      ug_gam    0.312500    -5.205    h12
..    ...         ...         ...       ...    ...
85   Ace1      gh_col         NaN       NaN    pbs
86   Ace1      ao_col         NaN       NaN    pbs
87   Ace1          gw         NaN       NaN    pbs
88   Ace1          gm         NaN       NaN    pbs
89   Ace1          ke         NaN       NaN    pbs

[360 rows x 5 columns]

In [19]:
df_summ = df_all.dropna().pivot_table(index='pop', columns='locus', values='method', aggfunc=', '.join)
df_summ

locus,Ace1,Cyp6p3,Cyp9k1,Gaba,Gste2,Vgsc
pop,,,,,,
ao_col,NaN,ihs,NaN,NaN,NaN,h12
bf_col,NaN,"h12, ihs, xpehh","h12, pbs","h12, ihs, xpehh","h12, ihs, xpehh, pbs",h12
bf_gam,NaN,"h12, xpehh, pbs","h12, xpehh, pbs","h12, ihs","h12, ihs, xpehh, pbs","h12, pbs"
ci_col,"h12, ihs","h12, ihs, xpehh, pbs","h12, pbs","h12, ihs, xpehh","h12, ihs, xpehh, pbs",h12
cm_sav_gam,NaN,"h12, ihs, xpehh, pbs",ihs,NaN,"h12, ihs, xpehh, pbs","h12, pbs"
ga_gam,NaN,NaN,h12,h12,"h12, xpehh","h12, pbs"
gh_col,NaN,h12,"h12, xpehh, pbs","h12, ihs, xpehh","h12, ihs, xpehh, pbs",h12
gh_gam,"h12, ihs, xpehh, pbs","h12, pbs",NaN,h12,"ihs, pbs","h12, pbs"
gm,NaN,"h12, ihs, xpehh, pbs",h12,NaN,NaN,NaN
gn_gam,NaN,"h12, ihs, xpehh, pbs","h12, xpehh, pbs","h12, ihs, xpehh","h12, ihs, xpehh, pbs","h12, pbs"
gq_gam,NaN,NaN,h12,"h12, xpehh",NaN,NaN
ug_gam,NaN,"h12, ihs, xpehh, pbs",NaN,NaN,"h12, ihs, xpehh, pbs","h12, pbs"

In [23]:
df_summ['Gste2'].dropna()

pop
bf_col        h12, ihs, xpehh, pbs
bf_gam        h12, ihs, xpehh, pbs
ci_col        h12, ihs, xpehh, pbs
cm_sav_gam    h12, ihs, xpehh, pbs
ga_gam                  h12, xpehh
gh_col        h12, ihs, xpehh, pbs
gh_gam                    ihs, pbs
gn_gam        h12, ihs, xpehh, pbs
ug_gam        h12, ihs, xpehh, pbs
Name: Gste2, dtype: object

In [22]:
df_summ['Cyp6p3'].dropna()

pop
ao_col                         ihs
bf_col             h12, ihs, xpehh
bf_gam             h12, xpehh, pbs
ci_col        h12, ihs, xpehh, pbs
cm_sav_gam    h12, ihs, xpehh, pbs
gh_col                         h12
gh_gam                    h12, pbs
gm            h12, ihs, xpehh, pbs
gn_gam        h12, ihs, xpehh, pbs
ug_gam        h12, ihs, xpehh, pbs
Name: Cyp6p3, dtype: object

In [24]:
df_summ['Cyp9k1'].dropna()

pop
bf_col               h12, pbs
bf_gam        h12, xpehh, pbs
ci_col               h12, pbs
cm_sav_gam                ihs
ga_gam                    h12
gh_col        h12, xpehh, pbs
gm                        h12
gn_gam        h12, xpehh, pbs
gq_gam                    h12
Name: Cyp9k1, dtype: object

In [25]:
df_summ['Vgsc'].dropna()

pop
ao_col             h12
bf_col             h12
bf_gam        h12, pbs
ci_col             h12
cm_sav_gam    h12, pbs
ga_gam        h12, pbs
gh_col             h12
gh_gam        h12, pbs
gn_gam        h12, pbs
ug_gam        h12, pbs
Name: Vgsc, dtype: object

In [26]:
df_summ['Gaba'].dropna()

pop
bf_col    h12, ihs, xpehh
bf_gam           h12, ihs
ci_col    h12, ihs, xpehh
ga_gam                h12
gh_col    h12, ihs, xpehh
gh_gam                h12
gn_gam    h12, ihs, xpehh
gq_gam         h12, xpehh
Name: Gaba, dtype: object

In [27]:
df_summ['Ace1'].dropna()

pop
ci_col                h12, ihs
gh_gam    h12, ihs, xpehh, pbs
Name: Ace1, dtype: object