In [1]:
%run setup.ipynb

In [2]:
df_h12 = pd.read_csv(here() / 'tables/locus_peaks_h12.csv')
df_h12['method'] = 'h12'
df_h12

    locus         pop  peak_value  peak_pos method
0   Gste2      bf_gam    0.378958    -2.928    h12
1   Gste2      gn_gam    0.324688   -79.232    h12
2   Gste2      gh_gam         NaN       NaN    h12
3   Gste2  cm_sav_gam    0.401638   -10.877    h12
4   Gste2      ug_gam    0.312500    -5.205    h12
..    ...         ...         ...       ...    ...
85   Ace1      gh_col         NaN       NaN    h12
86   Ace1      ao_col         NaN       NaN    h12
87   Ace1          gw         NaN       NaN    h12
88   Ace1          gm         NaN       NaN    h12
89   Ace1          ke         NaN       NaN    h12

[90 rows x 5 columns]

In [3]:
df_ihs = pd.read_csv(here() / 'tables/locus_peaks_ihs.csv')
df_ihs['method'] = 'ihs'
df_ihs

    locus         pop  peak_value   peak_pos method
0   Gste2      bf_gam    9.332232 -257.58610    ihs
1   Gste2      gn_gam    8.752685 -144.41400    ihs
2   Gste2      gh_gam    5.418820  -27.13314    ihs
3   Gste2  cm_sav_gam    8.995221 -259.64322    ihs
4   Gste2      ug_gam    7.231017    2.74352    ihs
..    ...         ...         ...        ...    ...
85   Ace1      gh_col         NaN        NaN    ihs
86   Ace1      ao_col         NaN        NaN    ihs
87   Ace1          gw         NaN        NaN    ihs
88   Ace1          gm         NaN        NaN    ihs
89   Ace1          ke         NaN        NaN    ihs

[90 rows x 5 columns]

In [4]:
df_xpehh = pd.read_csv(here() / 'tables/locus_peaks_xpehh.csv')
df_xpehh['method'] = 'xpehh'
df_xpehh

    locus         pop  peak_value   peak_pos method
0   Gste2      bf_gam    5.327111   6.838195  xpehh
1   Gste2      gn_gam    4.723271 -93.767240  xpehh
2   Gste2      gh_gam         NaN        NaN  xpehh
3   Gste2  cm_sav_gam    5.951453   4.483170  xpehh
4   Gste2      ug_gam    4.909270   5.661470  xpehh
..    ...         ...         ...        ...    ...
85   Ace1      gh_col         NaN        NaN  xpehh
86   Ace1      ao_col         NaN        NaN  xpehh
87   Ace1          gw         NaN        NaN  xpehh
88   Ace1          gm         NaN        NaN  xpehh
89   Ace1          ke         NaN        NaN  xpehh

[90 rows x 5 columns]

In [5]:
df_pbs = pd.read_csv(here() / 'tables/locus_peaks_pbs.csv')
df_pbs['method'] = 'pbs'
df_pbs

    locus         pop  peak_value  peak_pos method
0   Gste2      bf_gam   37.465458  234.2830    pbs
1   Gste2      gn_gam   31.670479  231.9900    pbs
2   Gste2      gh_gam   19.713850  231.1275    pbs
3   Gste2  cm_sav_gam   35.649120  233.0470    pbs
4   Gste2      ug_gam   24.089450   34.7640    pbs
..    ...         ...         ...       ...    ...
85   Ace1      gh_col         NaN       NaN    pbs
86   Ace1      ao_col         NaN       NaN    pbs
87   Ace1          gw         NaN       NaN    pbs
88   Ace1          gm         NaN       NaN    pbs
89   Ace1          ke         NaN       NaN    pbs

[90 rows x 5 columns]

In [6]:
df_all = pd.concat([df_h12, df_ihs, df_xpehh, df_pbs])
df_all

    locus         pop  peak_value  peak_pos method
0   Gste2      bf_gam    0.378958    -2.928    h12
1   Gste2      gn_gam    0.324688   -79.232    h12
2   Gste2      gh_gam         NaN       NaN    h12
3   Gste2  cm_sav_gam    0.401638   -10.877    h12
4   Gste2      ug_gam    0.312500    -5.205    h12
..    ...         ...         ...       ...    ...
85   Ace1      gh_col         NaN       NaN    pbs
86   Ace1      ao_col         NaN       NaN    pbs
87   Ace1          gw         NaN       NaN    pbs
88   Ace1          gm         NaN       NaN    pbs
89   Ace1          ke         NaN       NaN    pbs

[360 rows x 5 columns]

In [7]:
df_summ = df_all.dropna().pivot_table(index='pop', columns='locus', values='method', aggfunc=', '.join)
df_summ

locus,Ace1,Cyp6p3,Cyp9k1,Gaba,Gste2,Vgsc
pop,,,,,,
ao_col,NaN,ihs,NaN,NaN,NaN,h12
bf_col,NaN,"h12, ihs, xpehh","h12, xpehh, pbs","h12, ihs, xpehh","h12, ihs, xpehh, pbs",h12
bf_gam,NaN,"h12, xpehh, pbs","h12, ihs, xpehh, pbs","h12, ihs","h12, ihs, xpehh, pbs","h12, pbs"
ci_col,"h12, ihs","h12, ihs, xpehh, pbs","h12, xpehh, pbs","h12, ihs, xpehh","h12, ihs, xpehh, pbs",h12
cm_sav_gam,NaN,"h12, ihs, xpehh, pbs",ihs,NaN,"h12, ihs, xpehh, pbs","h12, pbs"
ga_gam,NaN,NaN,h12,h12,"h12, xpehh","h12, pbs"
gh_col,NaN,h12,"h12, ihs, xpehh, pbs","h12, ihs, xpehh","h12, ihs, xpehh, pbs",h12
gh_gam,"h12, ihs, xpehh, pbs","h12, pbs",NaN,h12,"ihs, pbs","h12, pbs"
gm,NaN,"h12, ihs, xpehh, pbs","h12, ihs",NaN,NaN,NaN
gn_gam,NaN,"h12, ihs, xpehh, pbs","h12, ihs, xpehh, pbs","h12, ihs, xpehh","h12, ihs, xpehh, pbs","h12, pbs"
gq_gam,NaN,NaN,h12,"h12, xpehh",NaN,NaN
gw,NaN,NaN,ihs,NaN,NaN,NaN
ug_gam,NaN,"h12, ihs, xpehh, pbs",ihs,NaN,"h12, ihs, xpehh, pbs","h12, pbs"

In [8]:
df_summ['Gste2'].dropna()

pop
bf_col        h12, ihs, xpehh, pbs
bf_gam        h12, ihs, xpehh, pbs
ci_col        h12, ihs, xpehh, pbs
cm_sav_gam    h12, ihs, xpehh, pbs
ga_gam                  h12, xpehh
gh_col        h12, ihs, xpehh, pbs
gh_gam                    ihs, pbs
gn_gam        h12, ihs, xpehh, pbs
ug_gam        h12, ihs, xpehh, pbs
Name: Gste2, dtype: object

In [9]:
df_summ['Cyp6p3'].dropna()

pop
ao_col                         ihs
bf_col             h12, ihs, xpehh
bf_gam             h12, xpehh, pbs
ci_col        h12, ihs, xpehh, pbs
cm_sav_gam    h12, ihs, xpehh, pbs
gh_col                         h12
gh_gam                    h12, pbs
gm            h12, ihs, xpehh, pbs
gn_gam        h12, ihs, xpehh, pbs
ug_gam        h12, ihs, xpehh, pbs
Name: Cyp6p3, dtype: object

In [10]:
df_summ['Cyp9k1'].dropna()

pop
bf_col             h12, xpehh, pbs
bf_gam        h12, ihs, xpehh, pbs
ci_col             h12, xpehh, pbs
cm_sav_gam                     ihs
ga_gam                         h12
gh_col        h12, ihs, xpehh, pbs
gm                        h12, ihs
gn_gam        h12, ihs, xpehh, pbs
gq_gam                         h12
gw                             ihs
ug_gam                         ihs
Name: Cyp9k1, dtype: object

In [11]:
df_summ['Vgsc'].dropna()

pop
ao_col             h12
bf_col             h12
bf_gam        h12, pbs
ci_col             h12
cm_sav_gam    h12, pbs
ga_gam        h12, pbs
gh_col             h12
gh_gam        h12, pbs
gn_gam        h12, pbs
ug_gam        h12, pbs
Name: Vgsc, dtype: object

In [12]:
df_summ['Gaba'].dropna()

pop
bf_col    h12, ihs, xpehh
bf_gam           h12, ihs
ci_col    h12, ihs, xpehh
ga_gam                h12
gh_col    h12, ihs, xpehh
gh_gam                h12
gn_gam    h12, ihs, xpehh
gq_gam         h12, xpehh
Name: Gaba, dtype: object

In [13]:
df_summ['Ace1'].dropna()

pop
ci_col                h12, ihs
gh_gam    h12, ihs, xpehh, pbs
Name: Ace1, dtype: object

In [14]:
def load_cnv_df():

    df_cnv = (
        pd.read_excel(
            here() / 'data/external/lucas_2019/Supplementary_Data_S9.xls',
            skiprows=4,
            index_col=0
        )
        .rename(columns={
            'Angola\ncoluzzii\n(78)': 'ao_col',
            'Burkina Faso\ncoluzzii\n(75)': 'bf_col',
            'Burkina Faso\ngambiae\n(92)': 'bf_gam',
            "Côte d'Ivoire\ncoluzzii\n(71)": 'ci_col',
            "Cameroon\ngambiae\n(297)": 'cm_gam',
            "Mayotte\ngambiae\n(24)": 'fr_gam',
            "Gabon\ngambiae\n(69)": 'ga_gam',
            'Ghana\ncoluzzii\n(55)': 'gh_col', 
            'Ghana\ngambiae\n(12)': 'gh_gam',
            'The Gambia\nundetermined\n(65)': 'gm', 
            'Guinea\ncoluzzii\n(4)': 'gn_col',
            'Guinea\ngambiae\n(40)': 'gn_gam', 
            'Equ. Guinea\ngambiae\n(9)': 'gq_gam',
            'Guinea-Bissau\nundetermined\n(91)': 'gw', 
            'Kenya\nundetermined\n(48)': 'ke',
            'Uganda\ngambiae\n(112)': 'ug_gam',
        })
        .T
    )

    gstue_cols = [n for n in df_cnv.columns if n.startswith('Gstue')]
    cyp6aap_cols = [n for n in df_cnv.columns if n.startswith('Cyp6aap')]
    cyp9k1_cols = [n for n in df_cnv.columns if n.startswith('Cyp9k1')]
    df_cnv['cyp6aap_cnv_fmax'] = df_cnv[cyp6aap_cols].max(axis=1)
    df_cnv['cyp9k1_cnv_fmax'] = df_cnv[cyp9k1_cols].max(axis=1)
    df_cnv['gstue_cnv_fmax'] = df_cnv[gstue_cols].max(axis=1)
    df_cnv = df_cnv[['gstue_cnv_fmax', 'cyp6aap_cnv_fmax', 'cyp9k1_cnv_fmax']]
    return df_cnv

df_cnv = load_cnv_df()
df_cnv

        gstue_cnv_fmax  cyp6aap_cnv_fmax  cyp9k1_cnv_fmax
ao_col        0.141026          0.000000         0.153846
bf_col        0.213333          0.493333         0.013333
bf_gam        0.000000          0.000000         0.641304
ci_col        0.000000          0.464789         0.000000
cm_gam        0.023569          0.000000         0.013468
fr_gam        0.000000          0.000000         0.000000
ga_gam        0.130435          0.000000         0.000000
gh_col        0.109091          0.054545         0.054545
gh_gam        0.000000          0.000000         0.250000
gm            0.000000          0.000000         0.584615
gn_col        0.000000          0.750000         0.000000
gn_gam        0.000000          0.000000         0.600000
gq_gam        0.000000          0.000000         0.000000
gw            0.000000          0.000000         0.087912
ke            0.479167          0.000000         0.000000
ug_gam        0.196429          0.580357         0.285714

In [15]:
def load_gste2_i144t_df():

    gste2_i114t_pos = 28598166

    import intake
    cat = intake.open_catalog('https://malariagen.github.io/intake/gcs.yml')
    callset_snps = cat.ag2.snps.to_zarr()
    pos = allel.SortedIndex(callset_snps['3R/variants/POS'])
    gste2_i114t_loc = pos.locate_key(gste2_i114t_pos)
    gste2_i114t_gt = allel.GenotypeArray(callset_snps['3R/calldata/GT'][gste2_i114t_loc][None, :, :])
    df_samples = cat.ag2.samples.read()   
    pop_rename = {
        p: p.lower() if len(p) == 2 else p.lower()[:2] + '_' + p[2:]
        for p in df_samples.population.unique()
    }
    df_samples.population.replace(pop_rename, inplace=True)
    pop_locs = {
        p: df_samples[df_samples.population == p].index.values
        for p in df_samples.population.unique()
    }
    gste2_i114t_acs = gste2_i114t_gt.count_alleles_subpops(pop_locs)
    gste2_i114t_freqs = [
        {'pop': p, 'gste2_i114t_f': gste2_i114t_acs[p].to_frequencies()[0, 1]}
        for p in df_samples.population.unique()
    ]
    df = pd.DataFrame.from_records(gste2_i114t_freqs, index='pop')
    return df

df_gste2_i114t = load_gste2_i144t_df()
df_gste2_i114t

/home/aliman/malariagen/binder/conda/envs/shiny-train-v2.5.1/lib/python3.7/site-packages/dask/dataframe/utils.py:14: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

        gste2_i114t_f
pop
gh_col       0.409091
gh_gam       0.041667
bf_gam       0.076087
bf_col       0.500000
ug_gam       0.000000
gm           0.000000
gw           0.000000
ke           0.000000
cm_gam       0.008418
fr_gam       0.000000
gq_gam       0.000000
ao_col       0.006410
ga_gam       0.289855
gn_gam       0.150000
gn_col       0.125000
ci_col       0.140845

In [16]:
df_summ

locus,Ace1,Cyp6p3,Cyp9k1,Gaba,Gste2,Vgsc
pop,,,,,,
ao_col,NaN,ihs,NaN,NaN,NaN,h12
bf_col,NaN,"h12, ihs, xpehh","h12, xpehh, pbs","h12, ihs, xpehh","h12, ihs, xpehh, pbs",h12
bf_gam,NaN,"h12, xpehh, pbs","h12, ihs, xpehh, pbs","h12, ihs","h12, ihs, xpehh, pbs","h12, pbs"
ci_col,"h12, ihs","h12, ihs, xpehh, pbs","h12, xpehh, pbs","h12, ihs, xpehh","h12, ihs, xpehh, pbs",h12
cm_sav_gam,NaN,"h12, ihs, xpehh, pbs",ihs,NaN,"h12, ihs, xpehh, pbs","h12, pbs"
ga_gam,NaN,NaN,h12,h12,"h12, xpehh","h12, pbs"
gh_col,NaN,h12,"h12, ihs, xpehh, pbs","h12, ihs, xpehh","h12, ihs, xpehh, pbs",h12
gh_gam,"h12, ihs, xpehh, pbs","h12, pbs",NaN,h12,"ihs, pbs","h12, pbs"
gm,NaN,"h12, ihs, xpehh, pbs","h12, ihs",NaN,NaN,NaN
gn_gam,NaN,"h12, ihs, xpehh, pbs","h12, ihs, xpehh, pbs","h12, ihs, xpehh","h12, ihs, xpehh, pbs","h12, pbs"
gq_gam,NaN,NaN,h12,"h12, xpehh",NaN,NaN
gw,NaN,NaN,ihs,NaN,NaN,NaN
ug_gam,NaN,"h12, ihs, xpehh, pbs",ihs,NaN,"h12, ihs, xpehh, pbs","h12, pbs"

In [28]:
gaba_pops = df_summ['Gaba'].dropna()
[g for g in gaba_pops.index if g.endswith('gam')]

['bf_gam', 'ga_gam', 'gh_gam', 'gn_gam', 'gq_gam']

In [29]:
[g for g in gaba_pops.index if g.endswith('col')]

['bf_col', 'ci_col', 'gh_col']

In [30]:
df_summ['Ace1']

pop
ao_col                         NaN
bf_col                         NaN
bf_gam                         NaN
ci_col                    h12, ihs
cm_sav_gam                     NaN
ga_gam                         NaN
gh_col                         NaN
gh_gam        h12, ihs, xpehh, pbs
gm                             NaN
gn_gam                         NaN
gq_gam                         NaN
gw                             NaN
ug_gam                         NaN
Name: Ace1, dtype: object

In [17]:
df_comb = (
    df_summ
    .rename({'cm_sav_gam': 'cm_gam'})
    .join(df_cnv, how='outer')
    .join(df_gste2_i114t, how='outer')
    .drop(labels=['ke', 'gn_col'])
)
df_comb

,Ace1,Cyp6p3,Cyp9k1,Gaba,Gste2,Vgsc,gstue_cnv_fmax,cyp6aap_cnv_fmax,cyp9k1_cnv_fmax,gste2_i114t_f
ao_col,NaN,ihs,NaN,NaN,NaN,h12,0.141026,0.000000,0.153846,0.006410
bf_col,NaN,"h12, ihs, xpehh","h12, xpehh, pbs","h12, ihs, xpehh","h12, ihs, xpehh, pbs",h12,0.213333,0.493333,0.013333,0.500000
bf_gam,NaN,"h12, xpehh, pbs","h12, ihs, xpehh, pbs","h12, ihs","h12, ihs, xpehh, pbs","h12, pbs",0.000000,0.000000,0.641304,0.076087
ci_col,"h12, ihs","h12, ihs, xpehh, pbs","h12, xpehh, pbs","h12, ihs, xpehh","h12, ihs, xpehh, pbs",h12,0.000000,0.464789,0.000000,0.140845
cm_gam,NaN,"h12, ihs, xpehh, pbs",ihs,NaN,"h12, ihs, xpehh, pbs","h12, pbs",0.023569,0.000000,0.013468,0.008418
fr_gam,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000
ga_gam,NaN,NaN,h12,h12,"h12, xpehh","h12, pbs",0.130435,0.000000,0.000000,0.289855
gh_col,NaN,h12,"h12, ihs, xpehh, pbs","h12, ihs, xpehh","h12, ihs, xpehh, pbs",h12,0.109091,0.054545,0.054545,0.409091
gh_gam,"h12, ihs, xpehh, pbs","h12, pbs",NaN,h12,"ihs, pbs","h12, pbs",0.000000,0.000000,0.250000,0.041667
gm,NaN,"h12, ihs, xpehh, pbs","h12, ihs",NaN,NaN,NaN,0.000000,0.000000,0.584615,0.000000
gn_gam,NaN,"h12, ihs, xpehh, pbs","h12, ihs, xpehh, pbs","h12, ihs, xpehh","h12, ihs, xpehh, pbs","h12, pbs",0.000000,0.000000,0.600000,0.150000
gq_gam,NaN,NaN,h12,"h12, xpehh",NaN,NaN,0.000000,0.000000,0.000000,0.000000
gw,NaN,NaN,ihs,NaN,NaN,NaN,0.000000,0.000000,0.087912,0.000000
ug_gam,NaN,"h12, ihs, xpehh, pbs",ihs,NaN,"h12, ihs, xpehh, pbs","h12, pbs",0.196429,0.580357,0.285714,0.000000

In [18]:
df_comb.columns

Index(['Ace1', 'Cyp6p3', 'Cyp9k1', 'Gaba', 'Gste2', 'Vgsc', 'gstue_cnv_fmax',
       'cyp6aap_cnv_fmax', 'cyp9k1_cnv_fmax', 'gste2_i114t_f'],
      dtype='object')

In [19]:
df_comb[['Gste2', 'gstue_cnv_fmax', 'gste2_i114t_f']]

                       Gste2  gstue_cnv_fmax  gste2_i114t_f
ao_col                   NaN        0.141026       0.006410
bf_col  h12, ihs, xpehh, pbs        0.213333       0.500000
bf_gam  h12, ihs, xpehh, pbs        0.000000       0.076087
ci_col  h12, ihs, xpehh, pbs        0.000000       0.140845
cm_gam  h12, ihs, xpehh, pbs        0.023569       0.008418
fr_gam                   NaN        0.000000       0.000000
ga_gam            h12, xpehh        0.130435       0.289855
gh_col  h12, ihs, xpehh, pbs        0.109091       0.409091
gh_gam              ihs, pbs        0.000000       0.041667
gm                       NaN        0.000000       0.000000
gn_gam  h12, ihs, xpehh, pbs        0.000000       0.150000
gq_gam                   NaN        0.000000       0.000000
gw                       NaN        0.000000       0.000000
ug_gam  h12, ihs, xpehh, pbs        0.196429       0.000000

In [20]:
df_comb[['Cyp6p3', 'cyp6aap_cnv_fmax']]

                      Cyp6p3  cyp6aap_cnv_fmax
ao_col                   ihs          0.000000
bf_col       h12, ihs, xpehh          0.493333
bf_gam       h12, xpehh, pbs          0.000000
ci_col  h12, ihs, xpehh, pbs          0.464789
cm_gam  h12, ihs, xpehh, pbs          0.000000
fr_gam                   NaN          0.000000
ga_gam                   NaN          0.000000
gh_col                   h12          0.054545
gh_gam              h12, pbs          0.000000
gm      h12, ihs, xpehh, pbs          0.000000
gn_gam  h12, ihs, xpehh, pbs          0.000000
gq_gam                   NaN          0.000000
gw                       NaN          0.000000
ug_gam  h12, ihs, xpehh, pbs          0.580357

In [23]:
df_comb[['Cyp9k1', 'cyp9k1_cnv_fmax']]

                      Cyp9k1  cyp9k1_cnv_fmax
ao_col                   NaN         0.153846
bf_col       h12, xpehh, pbs         0.013333
bf_gam  h12, ihs, xpehh, pbs         0.641304
ci_col       h12, xpehh, pbs         0.000000
cm_gam                   ihs         0.013468
fr_gam                   NaN         0.000000
ga_gam                   h12         0.000000
gh_col  h12, ihs, xpehh, pbs         0.054545
gh_gam                   NaN         0.250000
gm                  h12, ihs         0.584615
gn_gam  h12, ihs, xpehh, pbs         0.600000
gq_gam                   h12         0.000000
gw                       ihs         0.087912
ug_gam                   ihs         0.285714

In [22]:
df_samples.groupby('population').size()

NameError: name 'df_samples' is not defined